@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --secondary-color: rgb(112, 172, 255);
  }

body{
    background-color: rgb(15, 15, 15);
    display: flex;
    align-items: center;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

p {
    font-size: 2rem;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    width: 30%;
    height: 100vh;
    padding: 0 3em;
}

h1 {
    font-size: min(55px, 10vw);
    text-align: left;
}

.players {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;

}

label {
    font-size: 1.5em;
    font-weight: 600;
    padding-right: 0;
}

input {
    font-size: 1.5em;
    margin-top: .25em;
    width: 75%;
}



#board-container {
    width: 70%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

#board {
    width: 70%;
    max-width: 700px;
    border: 1px solid var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.squares {
    color: var(--secondary-color);
    font-size: clamp(60px, 11vw, 120px);
    font-weight: 600;
    border: 1px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
}

button {
    width: 8rem;
    font-size: 24px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: .5rem;
    color: white;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}




@media (max-width: 1024px){
    body{
        flex-wrap: wrap;
        justify-content: center;
    }

    #sidebar{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    h1 {
        margin-top: 2rem;
    }

    #players-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #player-one {
        margin-right: 2em;
    }

    input {
        width: 100%;
    }

    #start-btn {
        margin-bottom: 2rem;
    }

    #board-container {
        margin-top: 4%;
    }

    #board {
        width: 100%;
        min-width: 400px;
    }
}

@media (max-width: 768px){


}

@media (max-width: 480px){
    #board-container {
        width: 90%;
        padding: 0 1rem;
    }

    #board {
        min-width: 200px;
    }

    #players-container {
        flex-direction: column;
    }

    #player-one {
        margin-right: 0;
    }
}